.curso-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;;
  margin: auto;
  padding: 20px;
}

.curso-header {
  background: var(--secondary);
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.curso-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  margin-top: 20px;
}

.video-placeholder {
  background: #ddd;
  flex: 2;
  max-width: 800px;
  height: 450px; /* Fija la altura del video */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-right: 20px;
}

.video-placeholder video {
  width: 100%;
  height: 100%; /* Asegura que el video ocupe todo el espacio disponible */
  object-fit: cover;
}

.curso-sidebar {
  width: 40%;
  flex: 1;
  max-width: 400px;
}

.progreso-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.progreso-bar {
  background: #e0e0e0;
  height: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progreso-fill {
  height: 100%;
  background: #76c7c0;
  border-radius: 10px;
  transition: width 0.5s ease;
}

.progreso-text {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.curso-temario {
  margin-top: 20px;
}

.curso-temario h3 {
  margin-bottom: 10px;
}

.curso-temario ul {
  list-style-type: none;
  padding: 0;
}

.curso-temario li {
  background: #f8f9fa;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.curso-temario button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.curso-temario button:hover {
  background-color: #0056b3;
}

.curso-footer {
  margin-top: 20px;
  text-align: center;
}

.certificado-btn {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.certificado-btn:hover {
  background-color: #218838;
}
