/* Estilos generales */
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center; /* Centra el formulario horizontalmente */
  position: relative;
  padding: 2rem;
  width: 100%;
}

form {
  width: 100%; /* Hacer que el formulario ocupe el 100% del contenedor */
  max-width: 900px; /* Limitar el ancho máximo para pantallas grandes */
  margin: 0;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

input,
textarea,
select {
  width: 100%;
  padding: 1rem; /* Aumentar el padding para más espacio en los campos */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  resize: vertical;
  min-height: 120px; /* Aumentar el tamaño mínimo para que sea más cómodo */
}

button {
  padding: 1rem 2rem; /* Aumentar el padding para que el botón sea más grande */
  font-size: 1.1rem; /* Aumentar el tamaño de la fuente para mayor legibilidad */
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Asegurar que el botón ocupe todo el ancho en pantallas pequeñas */
}

button:hover {
  background-color: #0056b3;
}

input[type="file"] {
  padding: 0;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

form div:last-child {
  display: flex;
  justify-content: center;
}

.preview {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 650px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  form {
    padding: 1.5rem;
  }

  .preview {
    display: none;
  }

  button {
    width: 100%; /* El botón ocupa todo el ancho en pantallas pequeñas */
  }
}
